{{ define "team-card" }}
{{ $pet := .Pet }}
<div class="general-card">
	<div class="triangle-top triangle-top-darktet"></div>
	<div class="general-card-top">
		<div class="general-card-name">
			{{ $pet.Name }}
		</div>
	</div>
	<div class="general-card-middle">
		<div class="general-card-image">
			{{ if $pet.Image }}
					<div style="background-image: url({{ $pet.Image }});" class="general-card-img"></div>
            {{ end }}
		</div>
	</div>
	<div class="general-card-body">
		<div class="general-card-role">
			{{ .Role }}
		</div>
		<div class="general-card-bottom">
			Social Links
			<div class="general-card-links">
				{{ range $social := .Social }}
					<div class="general-card-link">
						<a href="{{ $social.Link }}" target="_blank">
							<i class="fa fa-{{ $social.Name }} general-card-link-icon"></i>
						</a>
					</div>
				{{ end }}
			</div>
		</div>
		<div class="general-card-pet-links">
			<a href="{{ $pet.Url }}" class="general-card-pet-link">
				PET ME
			</a>
		</div>
	</div>
	<div class="triangle-bottom triangle-bottom-main"></div>
</div>
{{ end }}
