{{ define "pageupper" }}
    PETTING TOWN
{{ end }}
{{ define "pagelower" }}
    <span id="index-random-lower"></span>
{{ end }}
{{ define "content" }}
<div id="general-content">
    <section class="general-section">
        <div class="triangle-top triangle-top-main"></div>
        <h1 class="general-section-header">
            What is petting town
        </h1>
        <article class="general-article">
            <div class="general-article-content">
                <div class="triangle-bottom triangle-bottom-main"></div>
                <h3 class="general-article-header">This is petting town</h3>
                <p class="general-article-text">
                    Petting Town is a place for people to give pets and receive pets and other form of affection and love.
                </p>
                <p class="general-article-text">
                    You don't even have to make an account to pet others, just go ahead and show all your affection.
                </p>
                <p class="general-article-text">
                    Affection and love is meant to be given freely!
                </p>
            </div>
        </article>
        <div class="triangle-bottom triangle-bottom-light"></div>
    </section>
    <div class="general-break"></div>
    <section class="general-section">
        <div class="triangle-top triangle-top-main"></div>
        <h1 class="general-section-header">
            PET PAGE EXAMPLES
        </h1>
        <article class="general-article">
            <div class="general-article-content">
                <div class="triangle-bottom triangle-bottom-main"></div>
                <h3 class="general-article-header">Take a look at these cuties</h3>
                <p class="general-article-text">
                    Here you can find examples of users already using our website!
                </p>
                <p class="general-article-text">
                    Feel free to click on <b>PET ME</b> and give them some love!
                </p>
                <div id="general-card-list">
                    {{ range $pet := .Data.Pets }}
                        {{ template "pet-card" $pet }}
                    {{ end }}
                </div>
            </div>
        </article>
        <div class="triangle-bottom triangle-bottom-light"></div>
    </section>
</div>
<script type="text/javascript">
let page;
let container;
</script>
<script type="text/javascript" src="/static/js/generalPurpose.js"></script>
{{ end }}
