{{ define "pageupper" }}
    Stats
{{ end }}
{{ define "pagelower" }}
    High scores and leaderboards
{{ end }}
{{ define "content" }}
{{ $stats := .Data }}
<div id="stats-content">
    <section class="general-section">
        <div class="triangle-top triangle-top-main"></div>
        <h1 class="general-section-header">
            MOD EVENTS
        </h1>
        <article class="general-article">
            <div class="general-article-content">
                <div class="triangle-bottom triangle-bottom-main"></div>
                {{ range }}
                <div class="mod-event-frame">
                    <table class="table mod-event-table">
                        <thead>
                            <tr>
                                <th scope="col" class="stats-table-header">
                                    TIME
                                </th>
                                {{ if NAMECHANGE }}
                                <th scope="col" class="stats-table-header">
                                    NEW NAME
                                </th>
                                <th scope="col" class="stats-table-header">
                                    OLD NAME
                                </th>
                                {{ else if IMAGECHANGE }}
                                <th scope="col" class="stats-table-header">
                                    PET
                                </th>
                                <th scope="col" class="stats-table-header">
                                    NEW IMAGE
                                </th>
                                {{ end }}
                            </tr>
                        </thead>
                        <tbody>
                            <form action="idk" method="POST" id="idk2">
                                <tr class="stats-row">
                                    <td scope="row">
                                        {{ date }}
                                    </td>
                                    <td class="mod-event-name">
                                        <a href="{{$pet.Url}}" target="_blank" class="mod-pet-link">{{$pet.Name}} <i class="fa fa-external-link mod-event-icon"></i></a>
                                    </td>
                                    {{ if NAMECHANGE }}
                                    <td class="mod-event-name">
                                        {{$pet.OldName}}
                                    </td>
                                    {{ else if IMAGECHANGE }}
                                    <td>
                                        <a href="imagelink" target="_blank">
                                            <div class="mod-event-img" style="background-image: url('../static/img/luna.jpg')"></div>
                                        </a>
                                    </td>
                                    {{ end }}
                                </tr>
                            </form>
                        </tbody>
                    </table>
                    <div class="mod-event-buttons">
                        <button class="general-button errormsg-success mod-event-button">approve</button>
                        <button class="general-button errormsg-error mod-event-button">disapprove</button>
                    </div>
                </div>
                {{ end }}
            </div>
        </article>
    </section>
    <div class="triangle-bottom triangle-bottom-light"></div>
</div>
<script type="text/javascript">
let page;
let container;
</script>
<script type="text/javascript" src="/static/js/generalPurpose.js"></script>
{{ end }}
