{{ define "content" }}
{{ $pet := .Data }}
<div id="pet-content">

<section class="general-section">
    <div class="triangle-top-big triangle-top-darktet"></div>
    <h1 class="general-section-header" id="pet-header">
        {{ $pet.Name }}
    </h1>
    <article class="general-article" id="pet-article">
        <div class="pet-body">
            {{ if $pet.Image }}
            <div id="pet-image" style="background-image: url({{$pet.Image}});"></div>
            {{end}}
            <div class="d-flex justify-content-center" id="pet-control-buttons">
                {{if $pet.Image}}
                <!-- <button class="general-button pet-control-button flex-fill" id="pet-image-size">Change image size</button> -->
                <a href="{{$pet.Image}}" target="_blank" class="general-button pet-control-button flex-fill" id="pet-image-full">Fullimage</a>
                {{ end }}
                <button class="general-button pet-control-button flex-fill" id="pet-link">Copy pet link</button>
            </div>
            <div class="triangle-bottom triangle-bottom-darktet"></div>
            <div class="pet-errors" id="pet-link-copied"></div>
            <div class="pet-errors" id="pet-self-error"></div>
            <div class="d-flex justify-content-center" id="pet-buttons">
                {{ $petMethodNames := .PetMethodNames }}
                {{ range $i, $method := .PetMethods }}
                <div class="flex-fill pet-button-container">
                    <button class="pet-button pet-data-action" data-method="{{ $method }}" id="pet-{{$pet.Id}}-{{$method}}-button">
                        <div id="pet-{{$pet.Id}}-{{$method}}-button-text">
                            {{ index $petMethodNames $method }}
                        </div>
                    </button>
                    <div class="pet-button-overlay" id="pet-{{$pet.Id}}-{{$method}}-overlay"></div>
                    <div class="pet-button-overlay-text" id="pet-{{$pet.Id}}-{{$method}}-overlay-text"></div>
                </div>
                {{ end }}
            </div>
            <div class="triangle-top triangle-top-darktet"></div>
        </div>
        <div id="pet-bottom">
            <h1 class="general-section-header" id="pet-header-stats">
                STATS
            </h1>
            <div id="pet-stats-body">
                <div class="triangle-bottom triangle-bottom-darktet"></div>
                <div class="pet-stats-row-label">
                    affection received
                </div>
                {{ range $i, $method := .PetMethods }}
                <div class="row pet-stats-row">
                    <div class="col pet-stats-label">
                        {{ index $petMethodNames $method }}
                    </div>
                    <div class="col" id="pet-{{$pet.Id}}-{{$method}}-received">
                        {{ $pet.GetPets $method }}
                    </div>
                </div>
                {{end}}
                <div class="pet-stats-row-label">
                    Totals
                </div>
                <div class="row pet-stats-row">
                    <div class="col pet-stats-label">
                        Total love received
                    </div>
                    <div class="col" id="pet-{{$pet.Id}}-received-total">
                        {{ $pet.PetsRecievedTotal }}
                    </div>
                </div>
                <div class="row pet-stats-row">
                    <div class="col pet-stats-label">
                        last love received
                    </div>
                    <div class="col">
                        {{ if eq ($pet.PetsRecievedAt.UnixNano) (0) }}
                        <em><b>NEVER</b></em>
                        {{ else }}
                        {{ $pet.PetsRecievedAt.Format "Jan 02, 2006" }}
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>
    </article>
    <div class="triangle-bottom-big triangle-bottom-darkaccnt"></div>
</section>
<div class="websocket-alert" id="websocket-alert"></div>

{{ if call .Account.HavePermission "MODERATOR" }}
<div class="container-md">
<div id="pet-moderator-container">
    <div class="triangle-top-big triangle-top-darktet"></div>
    <h3 class="general-section-header" id="pet-moderator-header">
        Moderator tools
    </h3>
    <div class="d-flex justify-content-center pet-body">
        <button class="flex-fill general-button pet-moderator-button errormsg-error" id="pet-moderator-ban" data-toggle="modal" data-target="#pet-moderator-modal-ban">
            Ban
        </button>
        <button class="flex-fill general-button pet-moderator-button errormsg-success" id="pet-moderator-edit" data-toggle="modal" data-target="#pet-moderator-modal-edit">
            edit
        </button>
    </div>
    <div class="triangle-bottom-big triangle-bottom-darktet"></div>
</div>

<div class="modal fade" id="pet-moderator-modal-edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="pet-settings-triangle-top"></div>
            <div class="modal-header">
                <h5 class="modal-title">Edit {{$pet.Name}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="modal-close-button">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row settings-row">
                    <div class="col-3 settings-left-column">
                        DISPLAY NAME
                    </div>
                    <div class="col settings-right-column">
                        <form action="settings/name?petId={{$pet.Id}}" method="POST" id="pet-modal-name">
                            <!-- TODO: make this ajax. the endpoint already does json replies -->
                            <!-- {"success": true, "message": "someErrorMessage"} -->
                            <!-- warning popup that changing your name changes your pet URL? -->
                            <p>If you change the name the URL on which they receive affection may change!</p>
                            <div class="settings-input-group">
                                <div class="settings-label">
                                    Current name:
                                </div>
                                <div id="settings-current-name">
                                    {{ $pet.Name }}
                                </div>
                            </div>
                            <p>To be able to receive affection from others you need to set a name!</p>
                            <div class="settings-input-group">
                                <div class="settings-label">
                                    New name:
                                </div>
                                (Maximum: 32 letters)<br/>
                                You have: <span class="" id="settings-name-used"></span> left.
                                <input type="text" name="name" class="" id="settings-name-input" placeholder="Desired name here" value="{{$pet.Name}}" maxlength="32" autocomplete="on" />
                            </div>
                            <div class="settings-input-group">
                                <label for="settings-name-consent" class="settings-checkbox"><span class="settings-required">*</span> You consent that this name is <em>NOT</em> NSFW, or offensive.
                                    <input type="checkbox" id="settings-name-consent" />
                                    <span class="settings-checkmark"></span>
                                </label>
                            </div>
                            <div class="settings-input-group">
                                <div class="settings-error-msg" id="settings-name-error"></div>
                                <button type="submit" class="general-button modal-button errormsg-success">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row settings-row">
                    <div class="col-3 settings-left-column">
                        IMAGE
                    </div>
                    <div class="col settings-right-column">
                        <form action="settings/image/delete?petId={{$pet.Id}}" method="POST" id="pet-modal-image">
                            <div class="settings-input-group">
                                <div class="settings-error-msg" id="settings-image-error"></div>
                                <button type="submit" class="general-button modal-button errormsg-success">Remove image</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="d-flex justify-content-center modal-footer">
                <button type="button" class="flex-fill general-button modal-button errormsg-error" data-dismiss="modal">
                    CANCEL
                </button>
            </div>
            <div class="triangle-bottom triangle-bottom-darktet"></div>
        </div>
    </div>
</div>
<div class="modal fade" id="pet-moderator-modal-ban" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="triangle-top triangle-top-darktet"></div>
            <div class="modal-header">
                <h5 class="modal-title">Ban {{ $pet.Name }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true" class="modal-close-button">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="modal-delete">
                    Are you sure you want to ban {{ $pet.Name }} permamently?
                </div>
            </div>
            <div class="modal-footer">
                <div class="settings-error-msg" id="pet-ban-error"></div>
                <form action="/settings/ban?petId={{$pet.Id}}" method="post" id="pet-modal-ban" class="d-flex justify-content-center">
                    <button type="button" class="flex-fill general-button modal-button errormsg-error" data-dismiss="modal">
                        CANCEL
                    </button>
                    <button type="submit" class="flex-fill general-button modal-button errormsg-success">
                        BAN
                    </button>
                </form>
            </div>
            <div class="triangle-bottom triangle-bottom-darktet"></div>
        </div>
    </div>
</div>
<script type="text/javascript" src="/static/js/modTools.js"></script>
</div>
{{ end }}
</div>
<script type="text/javascript">
let page = 'lower';
let container = 'pet';
</script>
<script type="text/javascript" src="/static/js/generalPurpose.js"></script>
{{ end }}

{{ define "head" }}
	<script type="text/javascript">
		const petId = {{ .Data.Id }};
        {{ if .LoggedIn }}
            const ownPetId = {{ .Account.Pet.Id }};
        {{ else }}
            const ownPetId = -1;
        {{ end }}
        const petLink = 'https://petting.town' + {{ .Data.Url }};
	</script>
	<script type="text/javascript" src="/static/js/pet.js" async></script>
{{ end }}

{{ define "title" }} - {{ .Data.Name }}{{ end }}
