{{ define "content" }}
<div id="general-content">
    <section class="general-section">
        <div class="triangle-top triangle-top-main"></div>
        <h1 class="general-section-header">
            settings
        </h1>
        <article class="general-article">
            <div class="triangle-bottom triangle-bottom-main"></div>
            <div class="general-article-content">
                <div class="row settings-row">
                    <div class="col-3 settings-left-column">
                        DISPLAY NAME
                    </div>
                    <div class="col settings-right-column">
                        <form action="settings/name" method="POST" id="settings-name-change">
                            <!-- TODO: make this ajax. the endpoint already does json replies -->
                            <!-- {"success": true, "message": "someErrorMessage"} -->
                            <!-- warning popup that changing your name changes your pet URL? -->
                            {{ if .Account.Name }}
                            <p>If you change your name the URL on which you receive affection may change!</p>
                            <div class="settings-input-group">
                                <div class="settings-label">
                                    Current name:
                                </div>
                                <div id="settings-current-name">
                                    {{ .Account.Name }}
                                </div>
                            </div>
                            {{ else }}
                            <p>To be able to receive affection from others you need to set a name!</p>
                            {{ end }}
                            <div class="settings-input-group">
                                <div class="settings-label">
                                    New name:
                                </div>
                                (Maximum: 32 letters)<br/>
                                You have: <span class="" id="settings-name-used"></span> left.
                                <input type="text" name="name" class="" id="settings-name-input" placeholder="Desired name here" value="{{.Account.Name}}" maxlength="32" autocomplete="on" />
                            </div>
                            <div class="settings-input-group">
                                <label for="settings-name-consent" class="settings-checkbox"><span class="settings-required">*</span> You consent that your name is <em>NOT</em> NSFW, or offensive.
                                    <input type="checkbox" id="settings-name-consent" />
                                    <span class="settings-checkmark"></span>
                                </label>
                            </div>
                            <div class="settings-input-group">
                                <div class="settings-error-msg" id="settings-name-error"></div>
                                <button type="submit" class="general-button errormsg-success" id="settings-name-submit">Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </article>
        <div class="triangle-bottom triangle-bottom-light"></div>
    </section>
</div>
<script src="/static/js/settings.js"></script>
<script type="text/javascript">
let page = 'lower';
let container;
</script>
<script type="text/javascript" src="/static/js/generalPurpose.js"></script>
{{ end }}